<style>
    .model_con .row div input{
        max-width:100%;
        min-width:30%;
        padding:3px;
        font-size:12px;
    }
    .client_panel_body .row{
        -webkit-transition: all 0.20s ease-in-out;
        -moz-transition: all 0.20s ease-in-out;
        -o-transition: all 0.20s ease-in-out;
        transition: all 0.20s ease-in-out;
        font-size:12px;
    }
    .client_panel_body .row:nth-child(even) {background: #eee}
    .client_panel_body .row:nth-child(odd) {background: #FFF}
    .client_panel_body .row:hover{
        background: #ccc;
    }
    .client_panel_body .row, .model_con .row{
        margin-bottom: 0px;
        margin-left:-1px;
        margin-right:-1px;
    }
    .client_panel_body .row div{
        line-height:28px;
    }
    .box-shadowing{
        -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }
    .row.clients div{
        float:left;
        padding-left:10px;
        display:block;
    }
    .row.clients div input[type="text"]{
        font-size:12px;
        margin:3px 0px 3px 0px;
    }

    .row.clients div:nth-child(1){
        width:5%;
    }
    .row.clients div:nth-child(2){
        width:20%;
    }
    .row.clients div:nth-child(3){
        width:20%;
    }
    .row.clients div:nth-child(4){
        width:20%;
    }
    .row.clients div:nth-child(5){
        width:15%;
    }
    .row.clients div:nth-child(6){
        width:15%;
    }
    .row.clients div:nth-child(7){
        width:5%;
    }
</style>
<!-- STORNIRANJE CONTAINER-->
<div class="black-background" ng-show="show_storniranje" style="z-index:5000;">
    <div class="storni_container">
        <div class="form-header font-md font-white storni_panel_header" >
            <i class="fa fa-exclamation-triangle " ></i> Storniranje otpremnice br: {{ storna_otpremnica.document_br }}
            <span data-ng-click="show_storniranje = !show_storniranje"><i class="fa fa-times"></i></span>
        </div>
        <div style="padding:10px;background-color:#fff;font-size:12px">

            <form class="smart-admin" name="forma_storniranja" ng-submit="stornirajOtpremnicu()" novalidate>
                <label>Razlog storniranja:</label>

                <textarea class="form-control" style="width:100%;display:block;" rows="6" name="napomena" id="napomena" ng-model="napomena"></textarea>

                <div class="note"  style="margin-bottom:10px" >
                    <strong><i class="fa fa-info-circle "></i> Napomena:</strong> Ukoliko stornirate, informacija će vam biti dostupna u opciji storni dokumenti.
                </div>
                <div class="cf">
                    <button type="submit" class="btn btn-primary btn-xs pull-left" >Potvrdi</button>
                    <i class="fa fa-cog fa-2x fa-spin pull-left ajax_storno" style="margin-left:5px"></i>
                </div>
            </form>
        </div>
    </div>
</div><!-- STORNIRANJE CONTAINER-->

<div class="black-background" ng-show="show_otprema_repromaterijal"  data-ng-controller="otpremaRepromaterijalController">

<!--Client Wrapper-->
<div ng-show="show_clients" class=" box-shadowing client-wrapper " >

    <div class="form-header font-md font-white client_panel_header" >
        <i class="fa fa-user-plus " ></i> Dobavljači/Kupci
        <span data-ng-click="showClientPanel()"><i class="fa fa-times"></i></span>
    </div>

    <div class="cf" style="background:#eee;border-bottom:1px solid #999">
        <div class="model_con">
            <div class="row clients">
                <div class="col col-sm-2"><input type="text" data-ng-model="search.client_cypher" placeholder="Šifra klijenta" /></div>
                <div class="col col-sm-2"><input type="text" data-ng-model="search.firm_name" placeholder="Naziv firme" /></div>
                <div class="col col-sm-2"><input type="text" data-ng-model="search.client_address" placeholder="Adresa" /></div>
                <div class="col col-sm-2"><input type="text" data-ng-model="search.place" placeholder="Mesto" /></div>
                <div class="col col-sm-2"><input type="text" data-ng-model="search.client_name" placeholder="Odgovorno Lice" /></div>
                <div class="col col-sm-1"><input type="text" data-ng-model="search.client_jmbg" placeholder="JMBG" /></div>
                <div class="col col-sm-1"></div>
            </div>
        </div>
        <div style="float:right;width:17px;">
        </div>
    </div>
    <div class="client_panel_body">
        <div>
            <div class="row" data-ng-repeat="client in clients  | filter:{client_cypher: search.client_cypher, firm_name: search.firm_name, client_address: search.client_address, place: search.place, client_name: search.client_name, client_jmbg: search.client_jmbg}">
                <div class="col col-sm-2">{{client.client_cypher}}</div>
                <div class="col col-sm-2">{{client.firm_name}}</div>
                <div class="col col-sm-2">{{client.client_address}}</div>
                <div class="col col-sm-2">{{client.place}}</div>
                <div class="col col-sm-2">{{client.client_name}}</div>
                <div class="col col-sm-1">{{client.client_jmbg}}</div>

                <div class="col col-sm-1"><span ng-click="setClient(client.client_id)" class=" btn btn-sm label label-primary">Ok</span></div>
            </div>
        </div>
    </div>
</div>
<!-- /Client Wrapper-->

<style type="text/css">
    .goods_body{
        position:relative;
        padding:10px;
    }
    .goods_body>div{
        min-height:100%;
        /*border:1px solid black;*/
        position:relative;
    }

    .order_panels{
        width:48%;
        position:absolute;
        height:100%;
    }
    .order_panels select, .order_panels input[type="text"]{
        color:#222222;
        font-size:12px;
        border: 1px inset #FFFFFF;
        padding-left:6px;
        padding-right:6px

    }



    .order_panels_body{
        height:calc(100% - 33px);
        border:1px solid #999999;
        overflow-x:hidden;
        overflow-y:auto;
        font-size:12px;
        background-color: #fff;
        color:#222222;
    }
    .order_panels_body>div{
        padding:5px 5px;
        line-height:1.8;

    }

    .order_panels_body>div input[type="text"]{
        padding:0px;
        margin:0px;
        line-height: normal;
        border:1px solid #cccccc;
        padding:2px 4px;

    }
    .order_panels_body>div:nth-child(even) {background: #EEEEEE}
    .order_panels_body>div:nth-child(odd) {background: #FFF}
    .order_panels_body>div:hover{
        background-color:#cccccc;
    }
    /* /ORDER PANELS */

    .goods-wrapper{
        width:1000px !important;
        position:absolute;
        left:50%;
        margin-left:-500px;
        z-index:1000;
        background-color:#cccccc;
    }

    .send_good_header{
        border:1px solid #6B7652;
        margin:0px 15px 0px 15px;
        overflow-x:hidden;
        overflow-y:auto;
        font-size:12px;
        color:#ffffff;
        background-color:#6B7652;
    }
    .send_good_header>div:nth-child(1){
        width:calc(100% - 17px);
        /*border-right:1px solid #ffffff;*/
    }
    .send_good_header>div:nth-child(2){
        width:17px;

    }
    .send_good_body{
        height:115px;
        border:1px solid #BDBDBD;
        margin:0px 15px 0px 15px;
        overflow-x:hidden;
        overflow-y:scroll;
        font-size:12px;
    }
    .send_good_body>div div{
        line-height:2;
    }
    .send_good_body>div:nth-child(even) {background: #EEEEEE;}
    .send_good_body>div:nth-child(odd) {background: #FFFFFF;}
    .send_good_body>div:hover {background: #cccccc;}
    i.delete_good{
        cursor:pointer;
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        -o-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out;
    }

    i.delete_good:hover{
        color:#CC0000;
        -o-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
    }
</style>
<!--Good Wrapper-->
<div ng-show="show_goods" class="box-shadowing goods-wrapper">

    <div class="form-header font-md font-white client_panel_header goods_head" >
        <i class="fa fa-shopping-basket " ></i> Dodeljivanje stavki repromaterijala
        <span data-ng-click="showGoodsPanel()"><i class="fa fa-times"></i></span>
    </div>
    <div class="goods_body">
        <div class="cf">
            <div class="order_panels">
                <div class="form-header font-md font-white goods_panel_header" >

                    <select ng-model="sel_good_type" ng-options="tn.id as tn.type_name for tn in order_good_type">
                        <option value="">Odaberi tip robe</option>
                    </select>&nbsp;
                    <input type="text" name="sel_good_cypher" ng-model="sel_good_cypher" placeholder="filter šifre robe">&nbsp;
                    <input type="text" name="sel_good_name" ng-model="sel_good_name" placeholder="filter naziva robe">

                </div>
                <div class="order_panels_body smart-form" >
                    <div class="cf"  data-ng-repeat="good in goods_total  | filter:{type_of_goods_id: sel_good_type, goods_name:sel_good_name, goods_cypher:sel_good_cypher}">
                        <span>{{$index + 1}}. {{ good.goods_name }}</span>
                        <button class="pull-right btn btn-success btn-xs" style="margin:0px" data-ng-click="orderGoods(good)"><i class="fa fa-arrow-right"></i></button>

                    </div>
                </div>
            </div>
            <div class="order_panels" style="right:0%">
                <div class="form-header font-md font-white goods_panel_header" >
                    Dodeljena roba za Izlaz iz magacina
                </div>
                <div class="order_panels_body" >
                    <div class="cf"  data-ng-repeat="order in goods_ordered ">
                        <div class="col col-sm-5">{{$index + 1}}. {{ order.goods_name }}</div>
                        <div class="col col-sm-5">
                            <select style="width:50%;border:1px solid #ccc" ng-if="order.type_of_goods_id==7" ng-model="order.lot_id" ng-options="lot.lot_id as lot.lot_name for lot in lotovi track by lot.lot_id">
                                <option value="">Partija</option>
                            </select>
                            <input type="text" style="width:45%;text-align:right" class="pull-right" ng-model="order.quantity" is-number />
                        </div>
                        <div class="col col-sm-1">
                            {{ order.measurement_unit}}
                        </div>
                        <div class="col col-sm-1">
                            <buton class="btn btn-danger btn-xs" style="margin-top:0px" data-ng-click="deleteFromOrder(order)"><i class="fa fa-trash-o" ></i></buton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /GOOD Wrapper-->



<div class="prijem_repromaterijal_container">
    <div class="form-header font-md font-white right-side" >
        <i class="fa fa-download" ></i>  <b>Otprema robe:</b> Repromaterijal
        <span ng-click="showOtpremaRepromaterijalContainer()"><i class="fa fa-times" ></i></span>
    </div>

    <div class="pm_body cf">
        <article class="" >
            <div class="row" style="width:1200px;">
                <div class="col col-sm-6"  >
                    <div style="max-width: 100%">
                        <div class="col-mg-12 form-header font-md font-white">
                            <span class="font-sm"> <b>Otprema robe:</b> Otprema</span>
                        </div>
                        <form id="merkantila_form" class="form-horizontal" method="post" name="client_form"  ng-submit="firstMeasurement()" novalidate>
                            <div class="form-frame background-white smart-form cf">
                                <div style="height:325px">
                                    <div class="row">
                                        <smart-select section-class="col col-sm-6 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi magacin" name="wearehouse" model="insert_data.wearehouse_id" options="w.wearehouse_id as w.wearehouse_name | capitalize for w in wearehouses" icon="for_infobox" ></smart-select>
                                        <smart-input section-class="col col-sm-6 fixsection" label-class="input" input-class="input-sm" icon="icon-prepend fa fa-calendar for_infobox" placehold="Datum"   name="datum" model="insert_data.datum" maxl="6" readonly="readonly" ></smart-input>
                                    </div>
                                    <div class="row">
                                        <smart-input section-class="col col-sm-6 fixsection" label-class="input" input-class="input-sm" icon="icon-prepend fa fa-file-text-o for_infobox" placehold="Vezani dokument"   name="vezani_dokument" model="insert_data.vezani_dokument" maxl="30"  ></smart-input>
                                        <div class="col col-sm-6 fixsection" >
                                            <button type="button"  class="btn btn-success btn-sm col col-sm-12 get_goods" style="margin:0px" data-ng-click="getGoods()"><i class="fa fa-shopping-basket"></i> Dodaj robu</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <smart-input section-class="col col-sm-6 fixsection" label-class="input" icon="icon-prepend fa fa-user-plus for_infobox" placehold="Odabir kupca" readonly="readonly" name="firm_name" model="insert_data.firm_name" directive="custom-validation"></smart-input>
                                        <section class="col col-sm-6 fixsection">
                                            <button type="button" class="col col-sm-12 btn btn-success btn-sm pull-right get_client" data-ng-click="getClient()" style="margin-top:0px"><i class="fa fa-user-plus"></i> Dodaj Kupca</button>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <smart-input section-class="col col-sm-6 fixsection" label-class="input" icon="icon-prepend fa fa fa-truck for_infobox" placehold="Ime vozača"  name="driver_name" model="insert_data.driver_name" directive="custom-validation"></smart-input>

                                        <smart-input section-class="col col-sm-6 fixsection" label-class="input" icon="icon-prepend fa fa-truck for_infobox" placehold="Registarski broj vozila"  name="driver_reg" model="insert_data.driver_reg" directive="custom-validation"></smart-input>
                                    </div>
                                    <div class="row send_good_container">
                                        <div class="send_good_header cf">
                                            <div class="pull-left cf">
                                                <div style="width:60%;float:left" title="Naziv Proizvoda">Naziv proizvoda</div>
                                                <div style="width:20%;float:left" class="text-right" title="Količina">Kolicina</div>
                                                <div style="width:10%;float:left" class="text-center" title="Merna Jedinica">M.J</div>
                                                <div style="width:10%;float:left" title="Brisanje">Brisanje</div>
                                            </div>
                                            <div class="pull-right" ></div>
                                        </div>
                                        <div class="send_good_body cf" >
                                            <div class="cf" data-ng-repeat="order in goods_ordered">
                                                <div style="width:60%;float:left">{{$index + 1}}. {{order.goods_name}}</div>
                                                <div style="width:20%;float:left" class="text-right">{{order.quantity}}</div>
                                                <div style="width:10%;float:left" class="text-center">{{order.measurement_unit}}</div>
                                                <div style="width:10%;float:left" class="text-center"><i  class="fa fa-trash-o delete_good" data-ng-click="deleteFromOrder(order)" ></i></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <hr/>
                                    <section class="col col-sm-6 fixsection ">

                                        <button type="submit" class="btn btn-sm btn-primary pull-left" style="margin-top:10px"> Potvrdi</button>

                                        <i class="fa fa-cog fa-2x fa-spin pull-left ajax_load_visibility" style="margin-top:10px;margin-left:5px"></i><!---->

                                    </section>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col col-sm-6 prijemnica" style="position:relative;">
                    <div style="background:#fff;">
                        <div class="form-header font-sm font-white">
                            <i class="fa fa-file-text-o  fa-lg font-sm " ></i><span class="font-sm"> Otpremnica Br: {{ last_measurement.document_br }}</span>
                            <div class="pull-right header-item cf">
                                <span class="pull-right" ng-click="print()"><i class="fa fa-print" ></i></span>
                                <!-- <span class="pull-right prijemSearch" ng-click="gimePrijemPanel()"><i class="fa fa-cog" ></i></span>
                                 <!--<span class="pull-right" ng-click="closePrijemPanel()"><i class="fa fa-user" ></i></span>-->
                            </div>

                        </div>
                        <div class="form-frame background-white smart-form cf prijemnica_pregled" style="min-height:399px;font-size:12px;overflow:hidden;" >
                            <!-- Prijem panel pretraga-->
                            <div class="searchPanelPrijem">
                                <div class="form-header font-md font-white searchPanelHead" style="border-radius:4px 4px 0px 0px;">
                                    <i class="fa fa-search fa-lg" ></i><span> Pretraga prijemnica</span>
                                </div>
                                <div style="padding:10px;">
                                    <div class="row">
                                        <smart-input section-class="col col-sm-12 fixsection" label-class="input" icon="icon-prepend fa fa-calendar for_infobox" placehold="Odabir datuma prijema" readonly="readonly" name="datumPrijema" model="prijemSearch.datumPrijema" input-action="ng-change='getSearchType()'"></smart-input>
                                    </div>
                                    <div class="row">
                                        <smart-select section-class="col col-sm-12 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi tip merkantile" name="prijemSearch.input_type" model="prijemSearch.input_type_id" options="ty.type_of_goods_id as ty.goods_type | capitalize for ty in prijemSearch.input_type" icon="for_infobox" action="ng-change='getSearchMerkantilaName()'"></smart-select>
                                    </div>
                                    <div class="row">
                                        <smart-select section-class="col col-sm-12 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi naziv merkantilne robe" name="goods_id" model="prijemSearch.goods_id" options="go.goods_id as go.goods_name for go in prijemSearch.goods_names | orderBy:'go.prijemSearch.goods_name'" icon="for_infobox"  action="ng-change='getSearchPrijemnica()'"></smart-select>
                                    </div>
                                    <div class="row">
                                        <smart-select section-class="col col-sm-12 fixsection" label-class="select" select-class="input-sm"  placehold="Odaberi prijemnicu" name="input_id" model="prijemSearch.input_id" options="prijem.input_id as prijem.document_br +' | '+ prijem.goods_name +' | '+  prijem.firm_name  for prijem in prijemSearch.inputs | orderBy:'prijem.input_id'" icon="for_infobox" action="ng-change='selectOdabraniPrijem()'"></smart-select>
                                    </div>
                                </div>
                            </div><!-- /Prijem panel pretraga-->
                            <!-- ifZitarice -->
                            <div data-ng-show="showInput">
                                <div class="col col-sm-2 text-left"><b>Dokument:</b></div>
                                <div class="col col-sm-4 text-right">{{ last_measurement.document_br }} <i class="fa fa-file-text-o fa-fw"></i></div>
                                <div class="col col-sm-1 text-right"><b>Datum:</b></div><div class="col col-sm-5 text-right"><i class="fa fa-calendar fa-fw"></i> {{ last_measurement.date+' - '+ last_measurement.time}} <i class="fa fa-clock-o  fa-fw"></i></div>
                                <div class="col col-sm-4 text-left"  ng-show=" last_measurement.vezani_dokument !== ''"><b>Vezani Dokument:</b></div>
                                <div class="col col-sm-2 text-right" ng-show=" last_measurement.vezani_dokument !== ''">{{ last_measurement.vezani_dokument }} <i class="fa fa-file-text-o fa-fw"></i></div>
                                <div class="col col-sm-12"><hr></div>

                                <div class="col col-sm-2"><b>Kupac:</b></div><div class="col col-sm-4">{{last_measurement.firm_name}}</div>
                                <div class="col col-sm-2"><b>Vozac:</b></div><div class="col col-sm-4">{{last_measurement.driver_name | capitalize}} <i class="fa fa fa-truck fa-fw pull-right"></i></div>
                                <div class="col col-sm-2"><b>Adresa:</b></div><div class="col col-sm-4">{{ last_measurement.client_address }}</div>
                                <div class="col col-sm-2"><b>Registracija:</b></div><div class="col col-sm-4">{{last_measurement.vehicle_registration | uppercase}} <i class="fa fa fa-truck fa-fw pull-right"></i></div>
                                <div class="col col-sm-2"><b>Mesto:</b></div><div class="col col-sm-4">{{ last_measurement.place_name +', '+ last_measurement.post_number }}</div>
                                <div class="col col-sm-2"><b>&nbsp;</b></div><div class="col col-sm-4">&nbsp;  </div>

                                <div class="col col-sm-12"><hr></div>
                                <div data-ng-hide="ifMereno">
                                    <div class="col col-sm-2"><b>Bruto:</b></div>
                                    <div class="col col-sm-4 text-right">{{last_measurement.outputs[0].bruto}} kg <i class="fa fa-balance-scale fa-fw"></i></div>
                                    <div class="col col-sm-2">&nbsp;</div>
                                    <div class="col col-sm-4 text-right">&nbsp;</div>
                                    <div class="col col-sm-2" ><b>Tara:</b></div>
                                    <div class="col col-sm-4 text-right">{{last_measurement.outputs[0].tara}} kg <i class="fa fa-balance-scale fa-fw"></i></div>
                                    <div class="col col-sm-2">&nbsp;</div>
                                    <div class="col col-sm-4 text-right">&nbsp;</div>
                                    <div class="col col-sm-2"><b>Neto:</b></div>
                                    <div class="col col-sm-4 text-right">{{ last_measurement.outputs[0].neto }} kg <i class="fa fa-balance-scale fa-fw"></i></div>

                                    <div class="col col-sm-12"><hr></div>
                                </div>
                                <div class="row" style="font-weight:bold;margin:0px">
                                    <div class="col col-sm-5">Naziv Proizvoda</div>
                                    <div class="col col-sm-3 text-right">Partija</div>                                    
                                    <div class="col col-sm-2 text-right">Kolicina</div>
                                    <div class="col col-sm-2">Merna jedinica</div>

                                </div>
                                <div data-ng-show="ifMereno" style="overflow-x:hidden;overflow-y:auto;height:240px">
                                    <div data-ng-repeat="output in last_measurement.outputs">
                                        <div class="col col-sm-5" style="overflow:hidden;text-overflow:  ellipsis;white-space: nowrap;">{{$index + 1}}. {{output.goods_name}}</div>
                                        <div class="col col-sm-3 text-right">{{output.lot_name}}</div>
                                        <div class="col col-sm-2 text-right">{{output.kolicina}}</div>
                                        <div class="col col-sm-2"> ({{output.measurement_unit}})</div> <!--{{output.measurement_name}}-->
                                    </div>
                                </div>
                                <div data-ng-hide="ifMereno">
                                    <div data-ng-repeat="output in last_measurement.outputs">
                                        <div class="col col-sm-5"  style="overflow:hidden;text-overflow:  ellipsis;white-space: nowrap;">{{$index + 1}}. {{output.goods_name}}</div>
                                        <div class="col col-sm-3 text-right">{{output.lot_name}}</div>
                                        <div class="col col-sm-2 text-right">{{output.neto}}</div>
                                        <div class="col col-sm-2">Kilogram (KG)</div>
                                    </div>
                                </div>

                                  


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
</div>
</div>



<div class="page_wrapper"  data-ng-class="{'blur': show_otprema_repromaterijal===true}">
    <article class="page_header cf">
        <h1 class="page-title">
            <i class="fa fa-eye fa-lg"><i class="fa fa-download fa-lg"></i></i>
            Pregled Otpremljene robe <span>(Repromaterijal)</span></h1>
    </article>




    <article>
        <div class="row">
            <div class="col-md-5" >
                <div style="max-width: 100%">
                    <div class="col-mg-12 form-header font-md font-white">
                        <i class="fa fa-database"></i><span> Pretraga otpremljenog repromaterijala</span>
                        <div class="pull-right white-btn" ng-click="showOtpremaRepromaterijalContainer()" ng-show="session_info.role === 'Administrator' || session_info.role === 'Logistika' || session_info.role === undefined" >Otprema Repromaterijala</div>
                    </div>
                    <div class="form-frame background-white smart-form">
                        <form id="wearhouse_form"  method="post" name="wearhouse_form"  ng-submit="getSearchData()" novalidate>
                            <div class="row">
                                <!--<smart-select section-class="col col-sm-6 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi tip repromaterijala" name="type_of_goods_id" model="search_data.type_of_goods_id" options="gt.type_of_goods_id as gt.goods_type | capitalize for gt in get_search_good_type | orderBy:'goods_type':false" icon="for_infobox" action='data-ng-change="getSearchGoodName()"' ></smart-select>
                                <smart-select section-class="col col-sm-6 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi naziv repromaterijala" name="goods_id" model="search_data.goods_id" options="gn.goods_id as gn.goods_name | capitalize for gn in get_search_good_name | orderBy:'goods_name':false" icon="for_infobox" action="data-ng-change='getSearchGoodWearehouses()'" ></smart-select>
                                -->
                                <div ng-if="search_data.type_of_goods_id != 7">
                                    <smart-select  section-class="col col-sm-6 fixsection"  label-class="select" select-class="input-sm"  placehold="Izaberi tip repromaterijala" name="type_of_goods_id" model="search_data.type_of_goods_id" options="gt.type_of_goods_id as gt.goods_type | capitalize for gt in get_search_good_type | orderBy:'goods_type':true" icon="for_infobox" action='data-ng-change="getSearchGoodName()"' ></smart-select>
                                    <smart-select  section-class="col col-sm-6 fixsection"   label-class="select" select-class="input-sm"  placehold="Izaberi naziv repromaterijala" name="goods_id" model="search_data.goods_id" options="gn.goods_id as gn.goods_name | capitalize for gn in get_search_good_name | orderBy:'goods_name'" icon="for_infobox" action="data-ng-change='getSearchGoodWearehouses()'" ></smart-select>
                                </div>
                                 <div ng-if="search_data.type_of_goods_id == 7">
            
                                    <smart-select  section-class="col col-sm-4 fixsection"  label-class="select" select-class="input-sm"  placehold="Izaberi tip repromaterijala" name="type_of_goods_id" model="search_data.type_of_goods_id" options="gt.type_of_goods_id as gt.goods_type | capitalize for gt in get_search_good_type | orderBy:'goods_type':true" icon="for_infobox" action='data-ng-change="getSearchGoodName()"' ></smart-select>
                                    <smart-select  section-class="col col-sm-4  fixsection"   label-class="select" select-class="input-sm"  placehold="Izaberi naziv repromaterijala" name="goods_id" model="search_data.goods_id" options="gn.goods_id as gn.goods_name | capitalize for gn in get_search_good_name | orderBy:'goods_name'" icon="for_infobox" action="data-ng-change='getSearchGoodWearehouses()'" ></smart-select>
                                    <smart-select section-class="col col-sm-4 fixsection"  label-class="select" select-class="input-sm"  placehold="Izaberi Partiju" name="goods_id" model="search_data.lot_id" options="lot.lot_id as lot.lot_name for lot in get_search_good_lots | orderBy:'lot_name'" icon="for_infobox" action="" ></smart-select>
                                </div>
                         
                            </div>
                            <div class="row">
                                <smart-select section-class="col col-sm-6 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi magacin" name="wearehouse_id" model="search_data.wearehouse_id" options="wh.wearehouse_id as wh.wearehouse_name | capitalize for wh in get_search_good_wearehouses | orderBy:'wearehouse_name':false" icon="for_infobox" action="data-ng-change='getGoodClient()'"></smart-select>
                                <smart-select section-class="col col-sm-6 fixsection" label-class="select" select-class="input-sm"  placehold="Izaberi dobavljaca" name="client_id" model="search_data.client_id" options="gt.client_id as gt.firm_name | capitalize for gt in get_search_good_client | orderBy:'firm_name':false" icon="for_infobox"></smart-select>

                            </div>
                            <div class="row">
                                <smart-input section-class="col col-sm-6 fixsection" label-class="input" input-class="input-sm" icon="icon-prepend fa fa-calendar for_infobox" placehold="Datum od"   name="datum_od" model="search_data.date_od" maxl="6" readonly="readonly" ></smart-input>
                                <smart-input section-class="col col-sm-6 fixsection" label-class="input" input-class="input-sm" icon="icon-prepend fa fa-calendar for_infobox" placehold="Datum do"  name="datum_do" model="search_data.datum_do" maxl="6" readonly="readonly"></smart-input>
                            </div>
                            <div class="row">
                                <section class="col col-sm-6 col col-md-offset-6 fixsection ">
                                    <label class="input">
                                        <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-top:0px" id="unos_korisnika" >Potvrdi</button>
                                    </label>
                                    <i class="fa fa-cog fa-2x fa-spin pull-right ajax_load_visibility" style="margin-top:10px"></i>
                                </section>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="position:relative;height:241px;">
                <div style="position:absolute; width:98%; bottom:0%;left:0%">
                    <div class="col-mg-12 form-header font-md font-white">
                        <i class="fa fa-pie"></i><span> Ukupan rezultat po pretrazi</span>
                    </div>
                    <div style=" background-color:#fff">
                        <div style="font-size:12px">
                            <table class="cf" width="100%">
                                <thead class="zaglavlje_totala">
                                <tr>
                                    <th>Neto total:</th>
                                    <th>Kolicina total:</th>
                                    <th>Merna jedinica:</td>
                                </tr>
                                </thead>
                                <tbody class="body_totala">
                                <tr>
                                    <td>{{total_result.neto_total}}</td>
                                    <td>{{total_result.kolicina_total}}</td>
                                    <td>{{total_result.measurement_name}} ({{total_result.measurement_unit}})</td>
                                </tr>
                                <tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <!-- USER TABLE -->
   <article>
        <div class="col-mg-12 form-header font-md font-white">
            <i class="fa fa-table"></i><span> Tabelarni pregled filtriranih rezultata otpreme</span>
            <div class="pull-right" data-ng-click="getExcell()">
                <div class="dropzone_2">
                    <i class="fa  fa-download fa-fw" ></i> Download <i class="fa fa-file-excel-o fa-fw"></i>
                </div>
            </div>
        </div>
        <div ng-controller="pregledOtpremeRepromaterijalTable as otpremaShowCase" style="position:relative">
            <table datatable="" dt-options="otpremaShowCase.dtOptions" dt-columns="otpremaShowCase.dtColumns" dt-instance="otpremaShowCase.dtInstance"   class="table table-striped table-bordered tables_font table_prijemmerkantila" cellspacing="0" cellpadding="0"  width="100%" style="width:0px;font-family:arial">
                <!--<p>
                    <button type="button" data-ng-click="showCase.stateChange()">Hello</button>
                </p>-->
    </table>
 </div>
</article>
</div>




<!--PRINT PRIRPEMA-->

<div class="print_prijem" style="position:absolute;top:0%;left:0%;z-index:10;display:none">
    <div class="print logo_area ">
        <img src="public/img/raiffeisen_redovan2.png" width="200" style="padding-bottom:20px">
        <div class="cf">
            <div class="one-half push-left"><b>Dokument br:</b> <i class="fa fa-file-text-o fa-fw"></i> {{ last_measurement.document_br }}</div>
            <div class="one-half push-right text-right"><b>Datum i vreme:</b>
                <i class="fa fa-calendar fa-fw"></i> {{ last_measurement.date+' - '+ last_measurement.time}} <i class="fa fa-clock-o  fa-fw"></i>
            </div>
        </div>
        <div class="cf">
            <div class="one-half push-left"><b>Magacin:</b> <i class="fa fa-database fa-fw"></i> {{ last_measurement.wearehouse_name }}</div>
            <div class="one-half push-right text-right"><b>Magacioner:</b> <i class="fa fa-user fa-fw"></i> {{ last_measurement.storekeeper }}</div>
        </div>
        <div class="cf" ng-show="last_measurement.dispozicija_id !== '0'">
            <div class="one-half push-left"><b>Poziv na dispoziciju:</b> <i class="fa fa-truck fa-fw"></i> {{ last_measurement.dispozicija_id }}</div>
        </div>
        <div class="cf" ng-show="last_measurement.vezani_dokument !== ''">
            <div class="one-half push-left"><b>Vezani dokument:</b> <i class="fa fa-file-text-o fa-fw"></i> {{ last_measurement.vezani_dokument }}</div>
        </div>
    </div>

    <hr/>

    <div class="text-center"><h3>Otpremnica br: <i class="fa fa-file-text-o fa-fw"></i> {{ last_measurement.document_br }}</h3></div>
    <div class="cf">
        <div class="one-half push-left"><h4><b><u>Kupac robe</u></b></h4></div>
        <div class="one-half push-right text-right"><h4><b><u>Prodavac robe</u></b></h4></div>
    </div>

    <div class="cf">
        <div class="one-half push-left">
            <div class="cf">
                <div><b>Kupac:</b> {{  last_measurement.client_cypher+', '+last_measurement.firm_name }}</div>
                <div><b>Mesto:</b> {{ last_measurement.post_number+' '+last_measurement.place_name }}</div>
                <div><b>Adresa:</b> {{ last_measurement.client_address }}</div>
                <div ng-show="last_measurement.client_brlk != 0"><b>Br.Licne karte:</b> {{ last_measurement.client_brlk +', '+ last_measurement.client_sup }}</div>
                <div ng-show="last_measurement.client_jmbg != 0"><b>JMBG:</b> {{ last_measurement.client_jmbg}}</div>
                <div ng-show="last_measurement.br_agricultural != ''"><b>BPG:</b> {{ last_measurement.br_agricultural }}</div>
                <div ng-show="last_measurement.pib != 0"><b>PIB:</b> {{ last_measurement.pib }}</div>
                <div><b>Vozac:</b> {{ last_measurement.driver_name}}</div>
                <div><b>Registarske table :</b> {{ last_measurement.vehicle_registration | uppercase }}</div>
            </div>
        </div>
        <div class="one-half push-right">
            <div class="cf">
                <div class="text-right"><b>Prodavac:</b> RWA Srbija d.o.o</div>
                <div class="text-right"><b>Mesto:</b> 10070 Novi Beograd</div>
                <div class="text-right"><b>Adresa:</b> Bulevar Zorana Đinđića 67/17,</div>
                <div class="text-right"><b>PIB:</b> 105528683</div>
            </div>
        </div>
    </div>


    <div data-ng-hide="ifMereno">

        <hr/>
        <div ><h4><b><u>Vaga </u></b></h4></div>
        <div class="cf">
            <div class="one-half push-left">
                <div class="cf">
                    <div class="one-half push-left"><b>Bruto:</b></div>
                    <div class="one-half push-right text-right right-padding">{{ last_measurement.bruto}} kg <i class="fa fa-balance-scale fa-fw"></i></div>
                </div>
                <div class="cf">
                    <div class="one-half push-left"><b>Tara:</b></div>
                    <div class="one-half push-right text-right right-padding">{{ last_measurement.tara}} kg <i class="fa fa-balance-scale fa-fw"></i></div>
                </div>
                <div class="cf" >
                    <div class="one-half push-left " style="font-size:16px;font-weight:bolder"><b>Neto:</b></div>
                    <div class="one-half push-right text-right right-padding"><span style="font-size:16px;font-weight:bolder">{{ last_measurement.neto}} kg</span> <i class="fa fa-balance-scale fa-fw"></i></div>
                </div>

            </div>

            <div class="one-half push-right" data-ng-show="ifSacma">

            </div>


        </div>
    </div>

    <hr/>
    <div><h4><b><u></u></b></h4></div>
    <div class="cf">
        <div class="push-left" style="width:40%"><b>Naziv proizvoda:</b></div>
        <div class="push-left" style="width:15%"><b>Tip proizvoda:</b></div>
        <div class="push-left text-right" style="width:20%"><b>Partija</b></div>
        <div class="push-left text-center" style="width:15%"><b>Kolicina</b></div>
        <div class="push-left" style="width:10%"><b>M.J</b></div>
    </div>
    <div class="cf"  data-ng-show="ifMereno" style="font-size:12px">
        <div data-ng-repeat="output in last_measurement.outputs">
            <div class="push-left" style="width:40%">{{ $index + 1 +'. '+ output.goods_name}}</div>
            <div class="push-left" style="width:15%">{{ output.goods_type | capitalize }}</div>
            <div class="push-left text-right" style="width:20%">{{ output.lot_name != null ? output.lot_name : "&nbsp;" }}</div>
            <div class="push-left text-right" style="width:15%">{{ output.kolicina }}&nbsp; &nbsp; &nbsp; &nbsp; </div>
            <div class="push-left" style="width:10%">({{output.measurement_unit}})</div>
        </div>
    </div>
    <div class="cf"  data-ng-hide="ifMereno" style="font-size:12px">
        <div data-ng-repeat="input in last_measurement.outputs">
            <div class="push-left" style="width:40%">{{ $index + 1 +'. '+ output.goods_name}}</div>
            <div class="push-left" style="width:15%">{{ output.goods_type | capitalize }}</div>
            <div class="push-left text-right" style="width:20%">{{ output.lot_name != null ? output.lot_name : "&nbsp;" }}</div>
            <div class="push-left text-right" style="width:15%">{{ output.neto }}&nbsp; &nbsp; &nbsp; &nbsp; </div>
            <div class="push-left" style="width:10%">(KG)</div>
        </div>
    </div>



    <div clss="cf" style="width:100%;position:absolute;bottom:0%">
        <div class="one-third push-left text-center">Magacioner<br/><br/>____________________</div>
        <div class="one-third push-left text-center">Kupac<br/><br/>____________________</div>
        <div class="one-third push-right text-center">Vozac<br/><br/>____________________</div>
    </div>
</div>